In [2]:
# Greaset of 3 numbers
a = int(input("Enter a value"))
b = int(input("Enter b value"))
c = int(input("Enter c value"))
if a>b and a>c:
    print(a,"is grater")
elif b>c:
    print(b,"is grater")
else:
    print(c,"is grater")

Enter a value25
Enter b value60
Enter c value900
900 is grater

#### Python - Loops
- For loop
- while loop

For - Executes a sequence of statements multiple times.

For Syntax:

for itername in iterator:
    sataements;
    
`

In [7]:
# range(lb,up-1)
# print 1 to 10 Numbers

for i in range(1,11):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9 10

In [6]:
for i in range(1,100):# 100-1=99
    print(i,end =" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

###  While Loop
- Repaets a statements or group of statements while a given condition is TRUE.

Syntax :
while Expression:
    statements1,
    statements2

In [9]:
# Print 1to 5 numbers using while loop

count = 0
while count<5:
    count = count+1
    print(count,end =" ")

1 2 3 4 5

In [12]:
# Write a python program to get all the even numbers in a given range(1,50)

a = int(input("Enter a value"))# 1
b = int(input("Enter b value"))# 51

for i in range(a,b):
    if i%2!=0:
        print(i,end= " ")

Enter a value1
Enter b value50
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [15]:
for i in range(1,50,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [20]:
a = 'APSSDC'
for i in a:
    print(i,end ="")

APSSDC

In [24]:
# write a program to check the given numbers is prime or not

a = int(input("Enter a value"))
if a>1:
    for i in range(2,a):
        if a%i==0:
            print(a,"is not prime")
            break
    else:
        print(a,"is prime")

Enter a value21
21 is not prime

### Strings
- Group of characters 
- Simply by enclosing characters in quotes('',"")

In [26]:
name = "Prasanna Raj"
print(name)

Prasanna Raj

In [27]:
'APSSDC'

'APSSDC'

In [28]:
print(type(name))

<class 'str'>

In [29]:
a = '123'
b = 'Prasanna Raj'
c = '123@#$%%abcABC'
print(type(a))
print(type(c))

<class 'str'>
<class 'str'>

In [30]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [31]:
# Single line String

a = 'prasanna raj m APSSDC'
a

'prasanna raj m APSSDC'

In [33]:
# Multi Line String
a = """
APSSDC
Vijayawada
AANM&VVRSR
Polytechinic
"""
print(a)

APSSDC
Vijayawada
AANM&VVRSR
Polytechinic

In [34]:
# String indexing
# 2 Types index acessing characters

# 1. Forward index
# 2. Backward index

In [37]:
a = "APSSDC"
a[5] # Forward index

'C'

In [38]:
a[-1] # Backward index

'C'

In [43]:
# Print AP
a = 'APSSDC AP'
# Slicing[:]

a[0:2]

'AP'

In [45]:
a[3:6]

'SDC'

In [46]:
a = 'apssdc vijayawada razrajz'
a[7:17]

'vijayawada'

In [47]:
a[7:13]

'vijaya'

In [48]:
a[:6]

'apssdc'

In [49]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [52]:
abc = 'prasanna raj'
abc.upper()

'PRASANNA RAJ'

In [51]:
a= 'APSSDC'
a.lower()

'apssdc'

In [53]:
abc.capitalize()

'Prasanna raj'

In [54]:
abc.title()

'Prasanna Raj'

In [63]:
a = "AANM"
b = "VVRSR"
d = " Polytechinic"
c = a+"&"+b+d

In [68]:
print(c)

AANM&VVRSR Polytechinic

In [69]:
a = "APSSDC"
b = 123
a+" "+str(b)

'APSSDC 123'

In [72]:
# Split method
a = "Prasannaraj@APSSDC"
a.split('@')

['Prasannaraj', 'APSSDC']

In [73]:
a = '1 2 3 4 5 6 7 8 9 '
a.split()

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [76]:
# Join()
a = ['i am prasanna raj','Multi skill trainer']
' & '.join(a)

'i am prasanna raj & Multi skill trainer'

In [77]:
x = ['python','workshop','Gudallavalleru']
' '.join(x)

'python workshop Gudallavalleru'

In [78]:
x = "prasanna raj m"
y = x.split()
'@'.join(y)

'prasanna@raj@m'

In [81]:
# Format method
name = ' i am Prasanna raj,my numbers is {} and {}'
number = 2422
number1 = 1429
name.format(number,number1)

' i am Prasanna raj,my numbers is 2422 and 1429'

In [82]:
name

' i am Prasanna raj,my numbers is {} and {}'

In [84]:
name.count('n')

4

In [95]:
#isalpha()
a ="asdf"
a.isalpha()

True

In [92]:
# isdigit()
a = '123456789'
a.isdigit()

True

In [101]:
#isalnum()
a = "asdf@123"
a.isalnum()

False

In [98]:
a.isupper()

False

In [99]:
a = "PRASANNA RAJ"
a.islower()

False

In [100]:
a.isupper()

True

In [103]:
a  = '   APSSDDC VIJAYAWADA AP   '
a.strip()

'APSSDDC VIJAYAWADA AP'

In [104]:
a.lstrip()

'APSSDDC VIJAYAWADA AP   '

In [105]:
a.rstrip()

'   APSSDDC VIJAYAWADA AP'

In [106]:
a.strip()

'APSSDDC VIJAYAWADA AP'

In [107]:
len(a)

27

In [109]:
#find()
a.find('D')

7

In [112]:
name = 'PRASANNA RAJ MALLIPUDI'
name[::-1]# Reverse a String

'IDUPILLAM JAR ANNASARP'

In [113]:
# Assiginments 

# 1 . Program to print multiple mathematical tables
      # Sample O/P  14 * 1 =14
# 2. Python program to print prime numbers between 1 to n numbers