#### Python Data structures
- Lists
- Tuple
- Dictionories
- sets

##### List
- List contains items of diffeerent data types
- List are mutable(Modifiable or changable)
- the values stored in list are seperated by commas(,)
- Enclosed within square brackets[].
- slicing Operator[:]
- Concatenation (+)
- Repetition Operator (*)Astric Symbol

In [3]:
a = [] # Empty List
print(type(a))
print(a)

<class 'list'>
[]

In [5]:
a = ['Prasanna Raj',2422,'APSSDC',14.29] # Non Empty List
print(a)

['Prasanna Raj', 2422, 'APSSDC', 14.29]

##### Indexing
- Forward index_ 0,1,2,3,.....
- Backward index_ -1,-2,-3,....

In [6]:
a

['Prasanna Raj', 2422, 'APSSDC', 14.29]

In [8]:
a[-2]

'APSSDC'

In [15]:
a=a[::-1] # Reverse and reasssigning a variable

In [16]:
print(a)

[14.29, 'APSSDC', 2422, 'Prasanna Raj']

In [17]:
a

[14.29, 'APSSDC', 2422, 'Prasanna Raj']

In [18]:
b=['Gopi',789,'SDC',26.6]

In [19]:
a+b

[14.29, 'APSSDC', 2422, 'Prasanna Raj', 'Gopi', 789, 'SDC', 26.6]

In [20]:
print(a)
print(b)

[14.29, 'APSSDC', 2422, 'Prasanna Raj']
['Gopi', 789, 'SDC', 26.6]

In [22]:
a*2

[14.29, 'APSSDC', 2422, 'Prasanna Raj', 14.29, 'APSSDC', 2422, 'Prasanna Raj']

In [23]:
# Adding a list
list1 = [10,20]
list2 = [30,40]

list3 =[]
list3 = list1+list2
print(list3)

[10, 20, 30, 40]

In [24]:
a

[14.29, 'APSSDC', 2422, 'Prasanna Raj']

In [25]:
# List Slicing
print(a)

[14.29, 'APSSDC', 2422, 'Prasanna Raj']

In [26]:
print(a[2:])

[2422, 'Prasanna Raj']

In [27]:
print(a[2:4])

[2422, 'Prasanna Raj']

In [28]:
a[0]

14.29

In [29]:
a[0]='Vijayawada'
print(a)

['Vijayawada', 'APSSDC', 2422, 'Prasanna Raj']

In [30]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [31]:
num = [1,2,3,4,5,6,7,8,9]
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# Append() - Adds a single item to the exisiting list.Not a nwe list.

# Syntax_ list.append(item)
num.append(1429)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2422, 1429]

In [34]:
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2422, 1429]

In [35]:
num.append([9,8,7,6,5])
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2422, 1429, [9, 8, 7, 6, 5]]

In [36]:
print(num[11:])

[[9, 8, 7, 6, 5]]

In [37]:
print(num[-1])

[9, 8, 7, 6, 5]

In [39]:
print(num[11][1])

8

In [40]:
# extend - To insert values individual values to the list

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2422, 1429, [9, 8, 7, 6, 5]]

In [41]:
# list.extend([list of values])
num.extend([10,20,30,40,50,60])
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2422, 1429, [9, 8, 7, 6, 5], 10, 20, 30, 40, 50, 60]

In [42]:
# Clear() - used to remove all the values in list

num.clear()

In [43]:
print(num)

[]

In [44]:
a = [1,2,3,4,5,6,7,8,9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# pop() - used to remove last index value of the list

a.pop()

7

In [49]:
print(a)

[1, 2, 3, 4, 5, 6]

In [50]:
a.pop(0)

1

In [51]:
print(a)

[2, 3, 4, 5, 6]

In [52]:
# Copy() - used to get a duplicate list of particular list

a

[2, 3, 4, 5, 6]

In [53]:
b=a

In [54]:
print(a)
print(b)

[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]

In [55]:
b[2]=1429

In [56]:
print(b)

[2, 3, 1429, 5, 6]

In [57]:
print(a)
print(b)

[2, 3, 1429, 5, 6]
[2, 3, 1429, 5, 6]

In [62]:
name  = ['Prasanna raz','Gopi','Avinash','Satheesh','Venkatesh','Prasanna Raz','Gopi','Gopi']
print(name)

['Prasanna raz', 'Gopi', 'Avinash', 'Satheesh', 'Venkatesh', 'Prasanna Raz', 'Gopi', 'Gopi']

In [59]:
alias = name.copy()

In [60]:
print(name)

['Prasanna raz', 'Gopi', 'Avinash', 'Satheesh', 'Venkatesh']

In [61]:
print(alias)

['Prasanna raz', 'Gopi', 'Avinash', 'Satheesh', 'Venkatesh']

In [63]:
# Count() - Used to count occurences of values
name

['Prasanna raz',
 'Gopi',
 'Avinash',
 'Satheesh',
 'Venkatesh',
 'Prasanna Raz',
 'Gopi',
 'Gopi']

In [68]:
name.count('Gopi')

3

In [75]:
# index()  -  Used to insert the values to list based on index
# list.index()

name.index("Prasanna Raz","Gopi")

TypeError: slice indices must be integers or have an __index__ method

In [76]:
s = [1,2,3,45,67,'Prasanna raz',3,4,2,6,5,9,2]

In [77]:
print(s)

[1, 2, 3, 45, 67, 'Prasanna raz', 3, 4, 2, 6, 5, 9, 2]

In [78]:
s.index(2,9)

12

In [79]:
# insert() - used to insert the values to be list based on index

s

[1, 2, 3, 45, 67, 'Prasanna raz', 3, 4, 2, 6, 5, 9, 2]

In [81]:
s.insert(4,"2422")
print(s)

[1, 2, 3, 45, '2422', '1429', 67, 'Prasanna raz', 3, 4, 2, 6, 5, 9, 2]

In [82]:
# Remove - used to remove a value from list
print(s)

[1, 2, 3, 45, '2422', '1429', 67, 'Prasanna raz', 3, 4, 2, 6, 5, 9, 2]

In [86]:
s.remove(1)

In [87]:
print(s)

[2, 45, '2422', '1429', 67, 'Prasanna raz', 3, 4, 2, 6, 5, 9, 2]

In [88]:
s

[2, 45, '2422', '1429', 67, 'Prasanna raz', 3, 4, 2, 6, 5, 9, 2]

In [89]:
s.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [90]:
a = [1,6,2,5,82,82,82,3,1,2,6,7]
a.sort()

In [91]:
print(a)

[1, 1, 2, 2, 3, 5, 6, 6, 7, 82, 82, 82]

In [92]:
a.sort(reverse=True)

In [93]:
print(a)

[82, 82, 82, 7, 6, 6, 5, 3, 2, 2, 1, 1]

In [96]:
# Today task(17-Jul-2020)

# Sample input

a = ['Prasanna Raj','Gopi','Avinash',2422,1429,2626]

# Sample Output
#['Prasanna Raj','Gopi','Avinash'][2422,1429,2626]

#### Tuples
- its denoted with () or tuple()
- Tuple is immutable(Not Modifiable,or not changing)

In [97]:
s = ()
type(s)

tuple

In [98]:
print(s)

()

In [99]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [107]:
a = ('name','age','email','phone','name')
print(a)

('name', 'age', 'email', 'phone', 'name')

In [104]:
a[0:3]

('name', 'age', 'email')

In [108]:
a.count('name')

2

In [113]:
a.index("email")

2

In [116]:
# Tuple Packing and unpacking
# in packing we place value into a new tuple while in unpacking 
# we extract those values back into variable

x = ("APSSDC",2422,"Prasanna Raj") # Packing Values
(company,emp_no,emp_name)=x # unpacking values

print(company,emp_no)

print(emp_name)

APSSDC 2422
Prasanna Raj

In [117]:
# deleting a tuple
a

('name', 'age', 'email', 'phone', 'name')

In [118]:
del a

In [119]:
print(a)

NameError: name 'a' is not defined

#### Dictionary
- Python Dictionary is an unorderd collection of items.
- Dictinorary has a key:value pair
- Dict are mutable 

- Syntax : my_dict = {name:"Prasanna raj",empno=2422}

In [121]:
mydict = {"empname":"Prasanna raj","empno":2422,"company":"APSSDC"}
print(mydict)

{'empname': 'Prasanna raj', 'empno': 2422, 'company': 'APSSDC'}

In [122]:
dir(mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [123]:
mydict.items()

dict_items([('empname', 'Prasanna raj'), ('empno', 2422), ('company', 'APSSDC')])

In [124]:
mydict.keys()

dict_keys(['empname', 'empno', 'company'])

In [125]:
mydict.values()

dict_values(['Prasanna raj', 2422, 'APSSDC'])

In [126]:
# getting the values from dictinorary

mydict

{'empname': 'Prasanna raj', 'empno': 2422, 'company': 'APSSDC'}

In [127]:
print(mydict['empname'])

Prasanna raj

In [128]:
print(mydict['company'])

APSSDC

In [130]:
print(mydict.get('empno'))

2422

In [131]:
# Adding elements into dictinories

mydict['location'] = 'Vijayawada'
print(mydict)

{'empname': 'Prasanna raj', 'empno': 2422, 'company': 'APSSDC', 'location': 'Vijayawada'}

In [132]:
# pop() - we can remove a particular item ina dictinoary by using pop method

print(mydict)

{'empname': 'Prasanna raj', 'empno': 2422, 'company': 'APSSDC', 'location': 'Vijayawada'}

In [133]:
print(mydict.pop('location'))

Vijayawada

In [134]:
mydict

{'empname': 'Prasanna raj', 'empno': 2422, 'company': 'APSSDC'}

In [135]:
# popitem()

mydict.popitem()

('company', 'APSSDC')

In [136]:
# clear
mydict.clear()

In [137]:
print(mydict)

{}

In [138]:
del mydict

In [139]:
mydict

NameError: name 'mydict' is not defined

In [ ]:
# Syntax :  mydict.update([other])
# Syntax :  mydict.setdefault(key,default=None)